nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

a {
    /* dislike typical blue/purple link colouring */
    color: #000000;
}

.date {
    text-align: center;
}

.title {
    text-align: center;
}

.author {
    text-align: center;
}

