nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.posts a {
    text-decoration: none;
}

.posts a:hover {
    text-decoration: underline;
}

a {
    /* dislike typical blue/purple link colouring */
    color: #000000;
}

.date {
    text-align: center;
}

.title {
    text-align: center;
}

.title a {
    text-decoration: none;
}

.title a:hover {
    text-decoration: underline;
}

.author {
    text-align: center;
}

.content {
    margin: auto;
    max-width: 800px;
}

ul {
    padding-left: 3em;
}

